/*font skriften på alt av kode*/

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*Her er all koden for navigasjonsbaren. 
Inspirasjon er hentet fra w3schools*/
.navBar {
    background-color: black;
    overflow: hidden;
}

.navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5vw 5vw;
    text-decoration: none;
    font-size: min(max(3rem), 3cqi);

}

.navBar a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

/*Aktiv-klassen brukes for å vise hvilken side 
du er på til en hver tid*/
.navBar a.aktiv {
    color: #878585;
}

/*Brukes for å fylle mellomrom mellom nettleser og siden*/
body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*Felles footer */
.footer {
    grid-area: footer;
    background-color: #dddada;
    text-align: center;
    line-height: 2.5vw;
    margin: 0vw;
    font-size: min(max(2rem), 3cqi);
    padding-bottom: 2vw;
}

/* ↑↑↑ Felles kodee for alle sidene ↑↑↑ */
/* ↓↓↓ Individuell kode for hver av sidene ↓↓↓ */


/*OsloMet*/
.index {

    /*Her blir boksenes plassering i gridden definert. Gridden har her 2 kolonner og 5 rader*/
    /*grid inspirasjon hentet fra W3schools. - https://www.w3schools.com/css/css_grid.asp */
    .grid {
        display: grid;
        grid-template-areas:
            'navBar navBar'
            'header header'
            'left right'
            'middle middle'
            'footer footer';

        background-color: #f4f3f3;
    }

    /*Felles kode for følgende bokser:*/
    .venstre-tekstboks,
    .hoyre-bildekart,
    .nedre-tekstboks {
        line-height: 2.5vw;
        margin: 1.5vw;
    }

    /*Navigasjonsmeny*/
    .navBar {
        grid-area: navBar;
    }

    /*Boks med forsidebilde og tekst*/
    .coverbilde {
        /* position: relative; passer på at ".box1-text" som ligger over 
        ".box1 img" har posisjon som er relativ til box1 isteden for hele body.
        Dette gjør at ".box-text" holder seg innenfor ".box1 img" selv når siden skaleres. */
        position: relative;
        grid-area: header;
    }

    /*Tekst over forsidebilde */
    .coverbilde-text {
        font-size: min(max(5rem), 6cqi);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(245, 249, 14);
        padding: 5px;
        margin-top: 0px;
        /*innspirasjon til tekst over bilde hentet fra w3schools*/
        /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
    }

    /*Forsidebilde*/
    .coverbilde img {
        width: 100%;
        height: 83vh;
        object-fit: cover;
    }

    /*Oslo Metropolitan University - tekst*/
    .venstre-tekstboks {
        grid-area: left;
        margin-right: 0;
        padding: 3vw;
        font-size: min(max(2rem), 2cqi);
    }

    /*Alle h2 overskrifter*/
    h2 {
        text-align: center;
        font-size: min(max(3rem), 3cqi);
        font-weight: bold;

    }

    /*Boks for kart*/
    .hoyre-bildekart {
        grid-area: right;
        margin-left: 0;
    }

    /*Kart av oslomet campus*/
    .hoyre-bildekart img {
        width: 95%;
        height: 95%;
        object-fit: cover;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        margin-top: 1.5vw;
        margin-left: 1vw;
    }

    /*Dolor sit amet - tekst*/
    .nedre-tekstboks {
        background-color: rgba(255, 255, 255, 0.8);
        grid-area: middle;
        text-align: left;
        padding: 3vw;
        font-size: min(max(2rem), 2cqi);
    }
}

/*kantine*/
.kantine {

    .wrapper_siologo_og_velkommen,
    .wrapper_kantinebilde_og_lokale,
    .wrapper_mat_og_matbilde,
    .wrapper_mazemap_og_plassering,
    .wrapper_ansatte_overskrift,
    .wrapper_fire_ansatte_med_bilder {
        margin-left: 4%;
        margin-right: 4%;
    }

    .wrapper_siologo_og_velkommen {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        max-width: 100%;
        /*https://www.youtube.com/watch?v=x4u1yp3Msao*/
        max-height: 100%;
    }

    .venstre_subgrid_siologo {
        padding-top: 2.5%;
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .siologo_boks img {
        min-height: 25%;
        min-width: 25%;
        max-height: 25%;
        max-width: 25%;
        padding-left: 5%;
        padding-bottom: 2%;
        filter: grayscale(40%);
    }

    .hoyre_subgrid_velkommen_tekst {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 5%;
        padding-top: 5%;
        padding-top: 4%;
        padding-left: 5%;
        max-width: 100%;
        font-size: min(max(1rem, 3vw), 8rem);
        /*https://css-tricks.com/how-do-you-do-max-font-size-in-css/*/
    }

    .wrapper_kantinebilde_og_lokale {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #d0c4d2;
        /*https://www.youtube.com/watch?v=x4u1yp3Msao*/
    }

    .kantinebilde_boks img {
        grid-row: 1;
        min-height: 77%;
        min-width: 77%;
        max-height: 77%;
        max-width: 77%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 25%;
    }

    .hoyre_subgrid_lokale_tekst {
        container-type: inline-size;
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        max-width: 100%;
        padding-right: 5%;
    }

    .hoyre_subgrid_lokale_tekst>p {
        font-size: min(max(3rem), 3.8cqi);
        /*cqi: https://www.youtube.com/watch?v=6Nv0weHy7t0*/
        padding-right: 10%;
        padding-bottom: 5%;

    }

    .hoyre_subgrid_lokale_tekst>h2 {
        padding-right: 10%;
        padding-top: 5%;
        text-align: center;
        font-size: min(max(3rem), 6cqi);
    }



    .wrapper_mat_og_matbilde {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        max-width: 100%;
        /*https://www.youtube.com/watch?v=x4u1yp3Msao*/
        max-height: 100%;
        padding-left: 3%;
        background-color: #b47373;
    }

    .venstre_subgrid_mat_tekst {
        container-type: inline-size;
        padding-top: 15%;
        padding-left: 3%;
    }

    .venstre_subgrid_mat_tekst>p {
        font-size: min(max(3rem), 4cqi);
        /*cqi: https://www.youtube.com/watch?v=6Nv0weHy7t0*/
        margin-right: 10%;
    }

    .venstre_subgrid_mat_tekst>h2 {
        padding-right: 5%;
        text-align: center;
        font-size: min(max(3rem), 6cqi);
    }

    /*hoyre_subgrid_matbilde*/
    .matbilde_boks img {
        min-height: 85%;
        min-width: 85%;
        max-height: 85%;
        max-width: 85%;
        padding-top: 10%;
        padding-left: 4%;
        padding-bottom: 15%;

    }


    .wrapper_mazemap_og_plassering {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        /* Use rem for gap */
        grid-auto-rows: minmax(6.25rem, auto);
        /* Use rem for minmax values */
        max-width: 100%;
        max-height: 100%;
        background-color: #98ad89;
        padding-left: 3%;
    }

    .mazemap_boks {


        margin-top: 10%;
        position: relative;
        max-width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
    }

    .mazemap {
        border: 0.3rem solid rgb(117, 145, 111);
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        /*https://www.w3schools.com/howto/howto_css_responsive_iframes.asp*/
    }

    .plassering_boks {
        padding-top: 10%;
    }

    .plassering_boks>p {
        font-size: min(max(1.5rem), 1.8cqi);
        margin-right: 10%;
        padding-bottom: 2.5%;
    }

    .plassering_boks>h2 {
        text-align: center;
        font-size: min(max(3rem), 2.5cqi);
        padding-top: 2.5%;
    }

    .wrapper_ansatte_overskrift {
        padding: 3%;
        background-color: #ffffff;

        h2 {
            text-align: center;
            font-size: min(max(3rem), 3cqi);

        }
    }

    .wrapper_fire_ansatte_med_bilder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .container1 {
        font-size: min(max(2rem), 2cqi);
        padding: min(max(2rem), 2cqi);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
    }

    .container1 img {
        max-width: 80%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;

    }

    .footer {
        h3 {
            font-size: 90%;
        }

        p {
            font-size: 70%;
        }
    }
}

/*Topical*/
.Topical {

    /*Her blir boksenes plassering i gridden definert. 
    Gridden har her 2 kolonner og 5 rader*/
    .grid {
        display: grid;
        grid-template-areas:
            'navBar navBar'
            'header header'
            'left right'
            'middle middle'
            'middle2 middle2'
            'bottom bottom'
            'footer footer';

        background-color: #f4f3f3;
    }

    /*Felles kode for følgende bokser:*/
    .introduksjon,
    .introduksjon-bilde,
    .forklaring-av-situasjonen,
    .bilde-jorda,
    .tanker-om-prosjektet,
    .footer {
        background-color: rgba(255, 255, 255, 0.8);
    }

    /*Navigasjonsmeny*/
    .navBar {
        grid-area: navBar;
    }

    /* Boks med forsidebilde og tekst */
    .header {
        grid-area: header;
        position: relative;

    }

    /*Coverbilde_teknologi_og_samfunn*/
    .header img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        
        /*object-fit: cover;*/
    }

    /*Tekst på forsidebilde*/
    .header h1 {
        font-size: min(max(4rem), 4cqi);
        font-weight: bolder;
        /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
        position: absolute;
        bottom: 35%;
        left: 50%;
        margin-top: 0px;
        margin-bottom: 5%;
        transform: translate(-50%, -50%);
        color: #f2f2f2;
    }

    /*Introduksjon*/
    .introduksjon {
        font-size: min(max(2rem), 2cqi);
        grid-area: left;
        text-align: left;
        padding: 2.5%;
        margin: 2.5%;
        background-color: rgba(255, 255, 255, 0.8);

    }

    /*Boks til introduksjonsbilde*/
    .introduksjon-bilde {
        grid-area: right;
        
        margin-top: 5%;
        margin-bottom: 5%;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        background-color: #f4f3f3;
    }

    /*Selve introduksjonbilde*/
    .introduksjon-bilde img {
        min-width: 90%;
        max-width: 90%;
        min-height: 90%;
        max-height: 90%;
        object-fit: cover;
        padding-left: 5%;
    }
   

    /*Tekst - Forklaring av situasjonen*/
    .forklaring-av-situasjonen {
        font-size: min(max(2rem), 2cqi);
        grid-area: middle;
        padding: 2.5%;
        margin: 2.5%;


    }

    /*Boks for bilde jorda*/
    .bilde-jorda {
        grid-area: middle2;
        margin: 2%;
    }

    /*Selve bilde jorda*/
    .bilde-jorda img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        
       /* object-fit: cover;*/

    }

    /*Tekst - Tanker om situasjonen*/
    .tanker-om-prosjektet {
        font-size: min(max(2rem), 2cqi);
        grid-area: bottom;
        padding: 2.5%;
        margin: 2.5%;

    }
}

/*Accessibility*/
.Accessibility {
    .grid {
        display: grid;
        /*Her blir boksenes plassering i gridden definert. 
        Gridden har her 2 kolonner og 12 rader*/
        grid-template-areas:
            'navBar navBar'
            'header header'
            'middle middle'
            'lighthouse lighthouse'
            'box3 box4'
            'box5 box6'
            'stark stark'
            'box7 box8'
            'box9 box10'
            'box11 box12'
            'text text'
            'footer footer';

        background-color: #f4f3f3;
    }

    /*Navigasjonsmeny*/
    .navBar {
        grid-area: navBar;
    }

    /*Tittel "Accessibility test*/
    .overskrift h1 {
        font-size: min(max(5rem), 5cqi);
        text-align: center;
    }

    /*Header boks*/
    .overskrift {
        grid-area: header;
        background-color: rgba(60, 104, 78, 0.8);
    }

    /*h2 titler*/
    h2 {
        font-size: min(max(3rem), 4cqi);
        text-align: center;
    }

    p {
        font-size: min(max(2rem), 2cqi);
        line-height: 3vw;
    }

    /*Hvordan gikk testen? - tekst*/
    .hvordan-gikk-testen {
        grid-area: middle;
        font-size: min(max(2rem), 2cqi);
        text-align: left;
        padding-top: 1rem;
        padding: 1.5rem;
    }

    /* Felles kode for følgende bilder */
    .test-oslomet-side img,
    .test-kantine-side img,
    .test-topical-side img,
    .ny-test-topical img,
    .stark-1 img,
    .stark-2 img,
    .stark-3 img,
    .stark-4 img,
    .stark-5 img,
    .stark-6 img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        border-style: dashed;
        border-color: black;
        border-width: 3px;
    }


    .lighthouse {
        grid-area: lighthouse;
        text-align: center;
    }

    .test-oslomet-side img {
        grid-area: box3;
    }

    .test-kantine-side img {
        grid-area: box4;
    }

    .test-topical-side img {
        grid-area: box5;
    }

    .ny-test-topical img {
        grid-area: box6;
    }

    .stark {
        grid-area: stark;
    }

    .stark-1 img {
        grid-area: box7;
    }

    .stark-2 img {
        grid-area: box8;
    }

    .stark-3 img {
        grid-area: box9;
    }

    .stark-4 img {
        grid-area: box10;
    }

    .stark-5 img {
        grid-area: box11;
    }

    .stark-6 img {
        grid-area: box12;
    }
}