
/*page something*/
.page1{

    .navBar { grid-area: navBar; }
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    .item3 { grid-area: right; }
    .item4 {grid-area: bottom;}
    .item5 { grid-area: footer; }
    
    .grid {
        display: grid;
        grid-template-areas:
        'navBar navBar navBar navBar navBar navBar'
        'header header header header header header'
        'main main main right right right'
        'bottom bottom bottom bottom bottom bottom'
        'footer footer footer footer footer footer';
        gap: 5px;
      background-color: #000000;
      padding: 5px;
    }
    
    .grid > div {
      background-color: rgba(245, 249, 14, 0.8);
      text-align: center;
    }
    
    .navBar{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 14px;
        padding-left: 5px;
    }
    
    .navText{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 10px;
        background-color: rgba(245, 249, 14, 0.8);
        border-style: groove;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .navText:hover {
        background-color: white;
        color:#3a3a3a;
    }
    
    .item1-text{
        font-size: 80px;
        color: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(245, 249, 14);
        padding: 5px;
    }
    .item1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    }

.page2{

        .navBar { grid-area: navBar; }
        .item1 { grid-area: header; }
        .item2 { grid-area: main; }
        .item3 { grid-area: right; }
        .item4 {grid-area: bottom;}
        .item5 { grid-area: footer; }
        
        .grid {
            display: grid;
            grid-template-areas:
            'navBar navBar navBar navBar navBar navBar'
            'header header header header header header'
            'main main main right right right'
            'bottom bottom bottom bottom bottom bottom'
            'footer footer footer footer footer footer';
            gap: 5px;
          background-color: #000000;
          padding: 5px;
        }
        
        .grid > div {
          background-color: rgba(245, 249, 14, 0.8);
          text-align: center;
        }
        
        .navBar{
            background-color: rgba(255, 255, 255, 0.8);
            padding: 14px;
            padding-left: 5px;
        }
        
        .navText{
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 10px;
            background-color: rgba(245, 249, 14, 0.8);
            border-style: groove;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .navText:hover {
            background-color: white;
            color:#3a3a3a;
        }
        
    }















/*page4*/
/*Navigation bar*/
.page4{
    .navBar { grid-area: navBar; }
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    .item3 { grid-area: right; }
    .item4 {grid-area: bottom;}
    .item5 { grid-area: footer; }
    
}
    .grid {
        display: grid;
        grid-template-areas:
        'navBar navBar navBar navBar navBar navBar'
        'header header header header header header'
        'main main main right right right'
        'bottom bottom bottom bottom bottom bottom'
        'footer footer footer footer footer footer';
        gap: 5px;
      background-color: #000000;
      padding: 5px;
    }

    .navBar{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 14px;
        padding-left: 5px;
    }
    
    .navText{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 10px;
        background-color: rgba(245, 249, 14, 0.8);
        border-style: groove;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .navText:hover {
        background-color: white;
        color:#3a3a3a;
    }


/*Body grids*/
.container1 {
    display: grid;
    grid-template-columns: auto auto auto;
      grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: pink;
    padding: 10px;
}
.container1 > div {
    padding: 10px;
    font-size: 30px;
}

.item-1 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}
.item-2 /*Cover bilde*/{  
    grid-column-start: 1;
    grid-column-end: 5;
}

    img {

        max-width: 100%;
    max-height: 100%;

        border: 1px solid #000000;
        border-radius: 4px;
        padding:0;
       
      }


.item-3 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-4{
    background-color: rgb(0, 255, 76);
    grid-column-start: 3;
    grid-column-end: 5;
}

.item-5{
    background-color: rgb(14, 109, 74);
     grid-column-start: 1;
    grid-column-end: 3;
}
.item-6{
    background-color: rgb(255, 204, 0);
    grid-column-start: 3;
    grid-column-end: 5;
}
.item-7{
    background-color: rgb(200, 255, 0);
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-8{
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 5;

}
.item-9a{
    background-color: rgb(0, 255, 17);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-9{
    background-color: rgb(255, 0, 64);
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-10{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item-11{
    background-color: rgb(255, 170, 0);
    grid-column-start: 3;
    grid-column-end: 4;
}.item-12{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
}
.item-13{
    background-color: rgb(255, 0, 64);
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-14{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item-15{
    background-color: rgb(255, 170, 0);
    grid-column-start: 3;
    grid-column-end: 4;
}.item-16{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
}

.item-17a{
    background-color: rgb(0, 191, 255);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-17{
    background-color: rgb(255, 0, 89);
    grid-column-start: 1;
    grid-column-end: 5;
    
    /*
}
.item-18{
    background-color: rgb(17, 255, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-19{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-20{
    background-color: rgb(174, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-21{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    */
}
