/*Her er all koden for navigasjonsbaren*/
 .navBar{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 14px;
    padding-left: 5px;
}
.navText{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    background-color: rgba(245, 249, 14, 0.8);
    border-style: groove;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navText:hover {
    background-color: white;
    color:#3a3a3a;
}


.page1{

    /*grid inspirasjon hentet fra W3schools.*/
    /*https://www.w3schools.com/css/css_grid.asp*/
    .navBar { grid-area: navBar; }
    .box1 { grid-area: header; }
    .box2 { grid-area: left; }
    .box3 { grid-area: right; }
    .box4 {grid-area: middle;}
    .box5 { grid-area: footer; }

    /*Her blir boksenes plassering i gridden definert. Gridden har her 2 kolonner og 5 rader*/
    .grid {
        display: grid;
        grid-template-areas:
        'navBar navBar'
        'header header'
        'left right'
        'middle middle'
        'footer footer';
        gap: 5px;
        background-color: #000000;
        padding: 5px;
    }
    /*section blir brukt for alle tekst-bokser i html for at de i utgangspunktet skal se like ut -->*/
    .grid > section {
      background-color: rgba(245, 249, 14, 0.8);
      text-align: center;
    }
    /*innspirasjon til tekst over bilde hentet fra w3schools*/
    /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
    .box1-text{
        font-size: 80px;
        color: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(245, 249, 14);
        padding: 5px;
    }
    .box1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box2-text{
        text-align: left;
        padding: 15px;
        font-size: 1.95vw;
    }
    

    .box2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

    .box4{
    text-align: left;
    }
    
    .box5{
        padding-bottom: 15px;
    }
}

.page2{

        .navBar { grid-area: navBar; }
        .box1 { grid-area: header; }
        .box2 {grid-area: middle;}
        .box3 { grid-area: footer; }
        
        .grid {
            display: grid;
            /*Her blir boksenes plassering i gridden definert. Gridden har her 6 kolonner og 4 rader*/
            grid-template-areas:
            'navBar navBar'
            'header header'
            'middle middle'
            'footer footer';
            gap: 5px;
          background-color: #000000;
          padding: 5px;
        }
        
        /*section blir brukt for alle tekst-bokser i html for at de i utgangspunktet skal se like ut -->*/
        .grid > section {
          background-color: rgba(245, 249, 14, 0.8);
          text-align: center;
        }

        .box1{
            font-size: 50px;
        }

        .box2-text{
            text-align: left;
            padding: 15px;

        }

        .box3{
            padding-bottom: 15px;
        }
}

.page3{

    border-style: groove;
    border-color: black;
    padding: 5px;
    border-width: 5px;

    .main-header {
        padding-bottom: 200px;
        background-image: url(/Bilder/tech1.jpg);
        background-size: cover;
        opacity: 0.8;
    }
        
    .nav-bar {
        background-color: black;
        overflow: hidden;
        position: sticky;
    }
    
    .nav-bar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 30px 40px;
        text-decoration: none;
        font-size: 25px;
        
    }
        
    .nav-bar a:hover {
        background-color: #ddd;
        color: black;
      }
        
    
    .heading-text{
        color: white;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 50px;
    }
    
    html, body{
        margin: 0;
        padding: 0;
    
    }
    
    section {
        line-height: 32px;
    }
}

 .page4{
    border-style: groove;
    border-color: black;

    .nav-bar {
        background-color: black;
        overflow: hidden;
        position: sticky;
    }
    
    .nav-bar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 30px 40px;
        text-decoration: none;
        font-size: 25px;
        
    }
        
    .nav-bar a:hover {
        background-color: #ddd;
        color: black;
      }
        
    
    .heading-text{
        color: white;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 50px;
    }

    .navBar { grid-area: navBar; }
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    .item3 { grid-area: right; }
    .item4 {grid-area: bottom;}
    .item5 { grid-area: footer; }
    
    .grid {
        display: grid;
        grid-template-areas:
        'navBar navBar navBar navBar navBar navBar'
        'header header header header header header'
        'main main main right right right'
        'bottom bottom bottom bottom bottom bottom'
        'footer footer footer footer footer footer';
        gap: 5px;|
      background-color: #000000;
      padding: 5px;
    }


/*Body grids*/
.container1 {
    display: grid;
    grid-template-columns: auto auto auto;
      grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: pink;
    padding: 10px;
}
.container1 > div {
    padding: 1vw;
    font-size: 2vw;
}

.item-1 {
    background-color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color: black;
    
}
/*.item-2 /*Cover bilde
{  
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;

    img 

        { max-width: 100%; height: auto;}
    }  */

     /*CHCHCHCH*/
    .item-2 {
    /* */
        /* Set grid-column-start and grid-column-end values */
        background-color: #000000;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
    }

    .item-2 img {
        
    max-width: 100%; /* Ensures the image doesn't exceed its container width */
    
    }
    /*CHCHCHCH*/
    

.item-3 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;

}  
/*CHCHCH*/
   .item-3 img 

        { max-width: 100%}


.item-4{
    background-color: rgb(0, 255, 76);
    grid-column-start: 3;
    grid-column-end: 5;


}


.item-5{
    background-color: rgb(14, 109, 74);
     grid-column-start: 1;
    grid-column-end: 3;

}
.item-6{
    background-color: rgb(255, 0, 0);
    grid-column-start: 3;
    grid-column-end: 5;
}
    /*bilde av stek*/
   /*CHCHCH*/
   .item-6 img {
        
    max-width: 100%;

}
.item-7{
    background-color: rgb(200, 255, 0);
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-8{
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 5;

}
.item-9a{
    background-color: rgb(0, 255, 17);
    grid-column-start: 1;
    grid-column-end: 5;

    text-align: center;
}
.item-9{
    background-color: rgb(255, 0, 64);
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-10{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item-11{
    background-color: rgb(255, 170, 0);
    grid-column-start: 3;
    grid-column-end: 4;
}.item-12{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
}
.item-13{
    background-color: rgb(255, 0, 64);
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-14{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
}
.item-15{
    background-color: rgb(255, 170, 0);
    grid-column-start: 3;
    grid-column-end: 4;
}.item-16{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
}

.item-17a{
    background-color: rgb(0, 191, 255);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}
.item-17{
    background-color: rgb(255, 0, 89);
    grid-column-start: 1;
    grid-column-end: 5;
    
    /*
}
.item-18{
    background-color: rgb(17, 255, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-19{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-20{
    background-color: rgb(174, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-21{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    */
}
}
