
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-start:1;
  grid-row-start:2;
  gap: 20px;
}

.grid-section {
  display: flex;
  align-items: center;
  text-align: center;
}

.grid-section img {
  max-width: 100%;
  height: auto;
}

.text-box {
  padding: 20px;
  text-align: left;
  max-width: 100%;
}
